:root{
  --blue: #1D63DC;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1171px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

header .site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 55px;
  box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.site-title img {
  width: 150px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1171px;
  margin-top: 39px;
}

.header-menu .product-filter {
}

.header-menu .product-filter .filter-button {
  height: 52px;
  padding: 14px 26px;
  margin-right: 12px;
  font-weight: 500;
  color: #212529;
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  cursor: pointer;
}

.header-menu .product-filter .filter-button:target {
  color: white;
  background: var(--blue);;
  border: 1.5px solid var(--blue);;
}

.header-menu .search-bar {
}

.search-bar {
}

.search-bar .input-search {
  height: 20px;
  width: 324px;
  padding: 14px 0 14px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  background-color: #f1f3f5;
}

.search-bar button {
  height: 52px;
  width: 59px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--blue);;
  color: white;
}

.products {
  width: 75%;
}

.containerPrecoTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1171px;
  height: 56px;
  margin-top: 44px;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.containerPrecoTotal p {
  margin: 0 20px;
}

.containerPrecoTotal p:last-child {
  width: 82px;
  height: 34px;
  background-color: #212529;
  border-radius: 8px;
  color: white;
  text-align: center;
  margin: 0 20px;
}

.containerPrecoTotal p svg {
  color: var(--blue);;
}

.containerListaProdutos {
  width: 100%;
  margin-top: 54px;
}

.containerListaProdutos .Lista-Produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.containerListaProdutos .Lista-Produtos li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 274px;
  height: 350px;
  margin-bottom: 58px;
  margin: 10px 7px;
}

.containerListaProdutos .Lista-Produtos li img {
  width: 100%;
  height: 175px;
  border-radius: 8px;
}

.containerListaProdutos .Lista-Produtos li #title {
  padding-top: 16px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
}

.containerListaProdutos .Lista-Produtos li #category {
  padding-top: 16px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 200;
  color: #868e96;
}

.containerListaProdutos #lista-componentes {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 10px;
}

.containerListaProdutos #lista-componentes li {
  width: 100%;
  height: 10px;
  margin: 5px 0 5px 0;
  font-size: 12px;
  color: #868e96;
}

.price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 6px;
  padding-left: 10px;
}
.containerListaProdutos .Lista-Produtos li #price {
  font-weight: 500;
  font-size: 12px;
  width: 100px;
}

.containerListaProdutos .cart-button {
  padding: 7px 10px;
  background-color: #12b8860d;
  border: 1.5px solid #12b8860d;
  border-radius: 8px;
  color: #212529;
  font-size: 11px;
  transition: background-color 500ms;
}

.containerListaProdutos .cart-button:hover {
  background-color: var(--blue);;
  color: white;
  cursor: pointer;
}

.carrinho {
  margin-top: 62px;
  width: 290px;
}

.carrinho .cart-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 51px;
  width: 100%;
  padding: 0 20px;
  background-color: var(--blue);;
  color: white;
  border-radius: 12px 12px 0px 0px;
}

.carrinho .cart-title p {
  padding-left: 20px;
}

.carrinho .cart-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 268px;
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 0px 0px 12px 12px;
}

.carrinho .cart-products i {
  font-size: 36px;
  color: #868e96;
}

.carrinho .cart-products p {
  padding: 35px 0;
  color: #868e96;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.carrinho .cart-products .cart-list {
  width: 288px;
}

.carrinho .cart-products .cart-list .item-cart {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 83px;
  margin-top: 20px;
}

.carrinho .cart-products .cart-list img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.carrinho .cart-products .cart-list .item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
  width: 65%;
}

.carrinho .cart-products .cart-list .item-info #category {
  padding: 12px 0;
}

.carrinho .cart-products .cart-list .item-info #price {
  padding: 0;
}

.carrinho .remove-button {
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  margin-top: 10px;
  background: url("../img/trash-solid.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.carrinho .total-price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  width: 100%;
  margin-top: 25px;
  padding: 0 20px;
  border-radius: 8px;
  color: white;
  background-color: var(--blue);;
}

@media (max-width: 1024px) {
  .header-menu .product-filter .filter-button {
    height: 32px;
    padding: 7px 13px;
  }

  .header-menu .search-bar input {
    width: 224px;
  }
}

@media (max-width: 768px) {
  .header-menu {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .header-menu .product-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .header-menu .product-filter .filter-button {
    height: 42px;
    margin-right: 2px;
  }

  main {
    justify-content: center;
    flex-wrap: wrap;
  }

  .products {
    width: 100%;
  }

  .containerListaProdutos {
    margin-top: 20px;

    width: 100%;
  }

  .containerListaProdutos .Lista-Produtos {
    flex-wrap: nowrap;
    overflow: auto;
  }

  .containerListaProdutos .Lista-Produtos li {
    height: 282px;
  }

  .containerListaProdutos .Lista-Produtos li img {
    height: 150px;
  }

  .containerListaProdutos .Lista-Produtos #lista-componentes {
    display: none;
  }

  .carrinho {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  .carrinho .cart-products .cart-list .item-cart {
    flex-wrap: nowrap;
  }

  .carrinho .cart-products .cart-list .item-cart .remove-button {
    width: 25px;
    height: 30px;
  }
}
